<ion-header>
    <ion-navbar>
        <ion-title>Nearby</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="findBySegment">
            <ion-segment-button value="list" (ionSelect)="selectedMap(false)">
                List
            </ion-segment-button>
            <ion-segment-button value="map" (ionSelect)="selectedMap(true)">
                Map
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item-group [style.display]="mapOn ? 'none' : 'block'">
        <ion-list>
            <!--<button ion-item *ngFor="let lot of parking | slice:0:4" (click)="openDetails(lot.lot)">
                <ion-icon name="car" item-left color="{{lot.type}}"></ion-icon>
                <h2>{{lot.lot}}</h2>
                <p>{{lot.distance}} miles</p>
            </button>-->
            <button ion-item *ngFor="let lot of parking" (click)="openDetails(lot.lot)">
                <ion-icon name="car" item-left color="{{lot.type}}"></ion-icon>
                <h2>{{lot.lot}}</h2>
                <p>{{lot.distance}} miles</p>
            </button>
        </ion-list>
    </ion-item-group>

    <div #map id="map" [style.display]="mapOn ? 'block' : 'none'"></div>

    <!--<div #map id="map"></div>-->

</ion-content>
